---
layout: default
---
{% assign resume = site.data.my_resume %}
<div class="resumeContainer">
    <div class="nameContainer">
        <h1>Simon Hopkins</h1>
        <img class = "drinkyCat" src="assets/images/cat_statue_2.png" alt="">
    </div>
    
    <div class = "aboutContainer resumeSection">
        <h2>about</h2>
        <p>{{resume.summary}}</p>
    </div>
    <div class="bottomContainer">
        <div class="leftColumn">
            <div class="resumeSection">
                <h2>Education</h2>
                {% for entry in resume.education %}
                <h2>{{entry.degree}}</h2>
                <h3>{{entry.school}} - {{entry.location}} {{entry.graduation_date}} </h3>
                {% endfor %}
                
            </div>
            <div class="resumeSection">
                <h2>languages</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore incidunt dolorem esse suscipit optio consequuntur distinctio eveniet laboriosam facilis. Amet?</p>
            </div>
            <div class="resumeSection">
                <h2>personal</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore incidunt dolorem esse suscipit optio consequuntur distinctio eveniet laboriosam facilis. Amet?</p>
            </div>
        </div>
        <div class="rightColumn">
            <div class="resumeSection">
                <h2>Work Experience</h2>
                {% for entry in resume.experience %}
                <div>
                    <h2>{{entry.job_title}} at {{entry.company}}</h2>
                    <h3>{{entry.start_date}} - {{entry.end_date}}</h3>
                    <p>{{entry.description}}</p>
                </div>
                {% endfor %}
                

            </div>
            <div class="resumeSection hasDrinkyCat">
                <h2>Technical Skills</h2>
                <h2>languages</h2>
                <ul>
                    {% for entry in resume.technical_skills.languages %}
                    <li>{{entry.name}}</li>
                    {% endfor %}
                </ul>
                <h2>libraries and frameworks</h2>
                <ul>
                    {% for entry in resume.technical_skills.libraries_and_frameworks %}
                    <li>{{entry.name}}</li>
                    {% endfor %}
                </ul>

                
            </div>
            <div class="resumeSection">
                <h2>personal</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore incidunt dolorem esse suscipit optio consequuntur distinctio eveniet laboriosam facilis. Amet?</p>
            </div>
        </div>
    </div>
</div>


<!-- todo make this a shared function -->
<script>
    {
        //chatgpt
        function getRandomNumber(min, max) {
            // Generate a random number between min (inclusive) and max (exclusive)
            return Math.random() * (max - min) + min;
        }
        const simonText = document.querySelector("footer p span");
        anime({
            targets: simonText,
            rotate: "1turn",
            duration: 3000,
            loop: true,
            easing: "linear"
        });

        const catImg = document.querySelector("img.drinkyCat");

        const drinkAnim = function(wasQuickBlink = false){
            const baseImg = catImg.src;
            const drinkTime = getRandomNumber(250, 800);
            catImg.src = "assets/images/cat_statue_2_drink.png"
            let quickBlink = !wasQuickBlink && Math.random() < 0.1 && false;
            setTimeout(()=>{
                catImg.src = baseImg;
                setTimeout(drinkAnim.bind(this, quickBlink), quickBlink?50:getRandomNumber(3000, 10000));
            }, drinkTime);
        }

        setTimeout(drinkAnim, getRandomNumber(1000, 3000));
    }
    
</script>