---
layout: default
---
{% assign resume = site.data.my_resume %}
<div class="resumeContainer">
    <div class = "resumeHeader">
        <div>
            <h1>Simon Hopkins</h1>
        </div>
        <div style="justify-content: center;">
            <h2>Software Engineer</h2>
        </div>
        <div style="justify-content: end;">
            <ul style="padding: 0;">
                <li>simonlhopkins.github.com</li>
                <li>simonlhopkins@gmail.com</li>
                <li>simonlhopkins</li>
            </ul>
        </div>
    </div>
    <div class = "resumeBody">
        <div class = "resumeLeft">
            <div class ="bodySection">
                <h2>About</h2>
                <p>{{site.data.my_resume.about}}</p>
            </div>
            <div class ="bodySection">
                <h2>Education</h2>
                <table>
                    {% for item in site.data.my_resume.education %}
                    <tr><td>
                        <p class ="resumeLight">{{item.duration}}</p>
                        <p class ="resumeJobHeader">{{item.school}}</p>
                        <p class ="resumeLight">{{item.degree}}</p>
                        <p class ="resumeLight">{{item.location}}</p>
                    </tr></td>
                    {% endfor %}
                </table> 

            </div>
            <div class ="bodySection">
                <h2>Skills</h2>
                <table>
                    {% for item in site.data.my_resume.skills %}
                    <tr><td><p>{{item}}</p></td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class = "resumeRight">
            <div class ="bodySection">
                <h2>Work Experience</h2>
                <table>
                    {% for job in site.data.my_resume.experience %}
                    <tr>
                        <td>
                            <p class ="resumeJobHeader">{{job.company}}</p>
                            <p class ="resumeJobHeader">{{job.job_title}}</p>
                            <p class ="resumeLight">{{job.duration}}</p>
                            <p class ="resumeLight">{{job.location}}</p>
                        </td>
                        <td>
                            <ul>
                                {% for item in job.description %}
                                <li>{{item}}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </table> 

            </div>
            <div class ="bodySection otherInterests">
                <h2>Other Interests / Awards</h2>
                <table>
                    <tr><td>
                        <p>
                        {% for item in site.data.my_resume.other %}
                        <span>{{item}},</span>
                        {% endfor %}
                        </p>
                    </tr></td>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="./assets/js/resume.js"></script>
