@import url('https://fonts.googleapis.com/css?family=Dosis');
html{
	font-family: 'Dosis', sans-serif;
	background-image: url("images/img009.jpg");
	background-position: center top;
    background-size: 100% auto;
}
body{
	margin: 0;
}
#header{

	width: 98%;
	height: 150px;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 30px;
	margin-top: 10px;
	background-color: black;
	box-shadow: 10px 10px;
	position: relative;

}
#header h2{
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 70px;
	margin: 5px;
}
#name{
	background-image: url("./images/headerBackground.jpg");
	background-size: 100%;
}
#name img{
	height: 150px;
	width: auto
}
#contentContainer{

	display: 100%;
	text-align: center;
	


}
.listContainer{
	display: inline-block;
    vertical-align: top;
    margin: 15px 15px 15px 15px;
    background-image: url("./images/rosePaper.jpg");
    background-size: 100% auto;
    box-shadow: 10px 10px;
    transition: filter 0.5s ease;
    filter: saturate(50%);
}

.listContainer:hover{
	transition: filter 0.5s ease;
	filter: saturate(100%);
}
.listContainer li{
	margin-right: 20px;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
}
.listContainer li a{
	color: #1F222E;
}
.listContainer li a:visited { text-decoration: none; color:#1F222E; }
.listContainer img{
	height: 250px;
	margin-top: 10px;
	margin-right: 40px;
	margin-left: 40px;
	width: auto;
	border: solid;
	border-width: 5px;
	border-color: black;
}
.animVideo{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 700px;
	margin-top: 20px;
	margin-bottom: 20px;
}



