

#navbar{
    --border-thickness: var(--website-main-stroke);
    --border-radius-normal: 8px;
    --border-radius-sides: 15px;
    width: 100%;
    box-sizing: border-box;
    height: 100;
    font-size: 1rem;
    a {
        text-decoration: none;
        color: inherit;
        white-space: nowrap;
    }

    @media only screen and (min-width: 768px) {
        font-size: 1rem;
    }

}

.navbar-top{
    display: flex;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
    justify-content: center;
    @media only screen and (min-width: 768px) {
        flex-wrap: nowrap;
    }
    i, svg{
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }
}

.navItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
    

}

.navbar-top > *{
    flex: 1;
}
#nav{
    display: flex;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;    
    min-height: 3.1rem;
    order: 1;
    max-width: 700px;
    flex-basis: 700px;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    @media only screen and (min-width: 768px) {
        flex-wrap: nowrap;
        order: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
}



#nav a{
    box-sizing: border-box;
    border: var(--border-thickness) solid var(--website-main-color);
    border-bottom: 0;
    position: relative;
    flex-grow: 1;
    flex-basis: 20%;
    border-top-left-radius: var(--border-radius-normal);
    border-top-right-radius: var(--border-radius-normal);
    margin-left: calc(var(--border-thickness)/2 * -1);
    margin-right: calc(var(--border-thickness)/2 * -1);
    display: flex;
    justify-content: center;
    

    > *{
        flex: 1;
        text-align: center 
    }
    > i.fa-cat{
        text-align: start;
        margin-right: 0.5rem;
    }
    &.left-selected{
        border-top-right-radius: 0;
    }
    &.right-selected{
        border-top-left-radius: 0;
    }

    &:last-child{
        border-top-right-radius: var(--border-radius-sides);
    }
    &:first-child{
        border-top-left-radius: var(--border-radius-sides);
    }

    &.selected{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &.selected::after{
        content: '';
        position: absolute;
        width: 100%;
        bottom: -5px;
        height: 5px;
        background-color: var(--website-secondary-color);        
    }
}
.navbar-bottom{
    min-height: 2rem;
    border: var(--border-thickness) solid var(--website-main-color);
    border-top-right-radius: var(--border-radius-normal);
    border-top-left-radius: var(--border-radius-normal);
    border-bottom: none;
}




.navRight{
    justify-content: end;
    justify-self: stretch;
    padding-right: 0px;
    display: flex;
    i{
        font-size: 1.5rem;
        margin-right: 0;
        
    }
}

.navLeft{
    justify-content: start;
    align-items: end;
    padding-left: 0px;
    justify-self: stretch;
    svg{
        margin-left: 0;
        color: var(--website-main-color);

    }
    
}


