.resumeContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.aboutContainer{
    display: flex;
    flex-wrap: wrap;
    h2 {
        margin-right: 2rem;
    }
    p {
        flex-grow: 1;
        flex-basis: 50%;
    }
    
}
.resumeSection{
    border-bottom: 2px solid var(--website-main-color);
    padding: 2rem;
    position: relative;
    p{
        margin: 0.3rem 0;
    }
    ul{
        list-style-type: none;
        padding: 0;
        li{
            margin: 1rem 0rem;
        }
    }
    

}

.nameContainer{
    display: flex;
    align-self: start;
    justify-items: center;
    flex-grow: 0;
}
.drinkyCat{
    width: 100px;
    height: auto;
    bottom: 0px;
    right: 0px;
    transform: scaleX(-1);
}
.hasDrinkyCat{
    padding-bottom: 20%;
}
.bottomContainer{
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
    > div{
        display: flex;
        flex-direction: column;
        /* padding: 1rem; */
    }

    .leftColumn, .rightColumn{
        div:last-child {
            border-bottom-color: transparent;
        }
    }
    .leftColumn {
        @media (min-width: 768px) {
            border-right: 2px solid var(--website-main-color);
        }
        padding-right: 1rem;
    }
    .rightColumn {
        padding-left: 1rem;
    }
    
}

