---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/36806dd41f.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/letterizejs@2.0.1/lib/letterize.min.js"></script>
    <!-- react should use the webpack react  -->
    <script
			  src="https://code.jquery.com/jquery-3.7.1.min.js"
			  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			  crossorigin="anonymous"></script>
    <title>{{site.title}}</title>
</head>
<body>
    <script type="module" src="/assets/js/bundle.js" charset="utf-8"></script>

    {% include statusBar.html %}
    {% include loginModal.html %}
    <div class="paddedContent">
        {% include navbar.html %}
        <main>
            
            {{content}}
            
        </main>
        {% include footer.html %}
    </div>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        document.addEventListener('visibilitychange', ()=>{

            const flashTitle = function(show){
                document.title = show?"come back": "‎";
                setTimeout(()=>{
                    if(document.hidden) flashTitle(!show);
                }, 100);
            }
            if (document.hidden) {
                flashTitle(false);
                
            } else {
                document.title = '{{site.title}}';
            }
        });
    </script>
</body>
</html>